DATABASE_URL=postgresql://chanadomus:chanadomus_dev@localhost:5432/chanadomus
DB_PASSWORD=chanadomus_dev

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@chanadomus.com
